<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Read videos+images -->
    <uses-permission
        android:name="android.permission.READ_MEDIA_VIDEO"
        tools:ignore="SelectedPhotoAccess" />

    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="SelectedPhotoAccess" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- Write settings backup file -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />

    <!-- Overlay permission for refresh rate matching -->
    <uses-permission
        android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />

    <uses-permission
        android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <queries>
        <intent>
            <action android:name="android.settings.DREAM_SETTINGS" />
        </intent>
        <intent>
            <action android:name="android.settings.SETTINGS" />
        </intent>
    </queries>

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <application
        android:name=".ui.AerialViewsApp"
        android:allowBackup="true"
        android:banner="@mipmap/ic_banner"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:installLocation="auto"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/DefaultTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="DataExtractionRules,MediaCapabilities"
        tools:targetApi="m">

        <!-- Default launch point -->
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true">
            <!-- Main app intent -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Handle .avsettings files passed by another app eg. File Manager -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="*" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="application/avsettings" />
                <data android:mimeType="text/avsettings" />
                <data android:pathPattern=".*\.avsettings" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="content"
                    android:host="*"
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.avsettings"
                    tools:ignore="IntentFilterUniqueDataAttributes" />
                <data android:mimeType="application/x-avsettings" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <!-- Allow screensaver to be started via 3rd party app, etc -->
        <activity
            android:exported="true"
            android:name=".ui.screensaver.TestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <!-- Dream Service/Activity can only be called by the system! -->
        <service
            android:name=".ui.screensaver.DreamActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DREAM_SERVICE">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <!-- Called when app is updated so migration code can run -->
        <receiver android:name=".utils.PackageReplacedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>

        <!-- Called when there is a notification by the system -->
        <service
            android:name=".services.NotificationService"
            android:exported="false"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <service
            android:name=".services.projectivy.WallpaperProviderService"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:banner="@mipmap/ic_banner"
            tools:ignore="ExportedService">

            <intent-filter>
                <action android:name="tv.projectivy.plugin.WALLPAPER_PROVIDER"/>
            </intent-filter>

            <meta-data
                android:name="apiVersion"
                android:value="1"/>

            <meta-data
                android:name="uuid"
                android:value="@string/plugin_uuid"/>

            <meta-data
                android:name="name"
                android:value="@string/app_name"/>

            <meta-data
                android:name="mainActivity"
                android:value=".ui.MainActivity"/>

            <meta-data
                android:name="itemsCacheDurationMillis"
                android:value="@integer/projectivy_cache_duration"/>

            <!-- what events to listen for - refer to WallpaperUpdateEventType -->
            <meta-data
                android:name="updateMode"
                android:value="1"/>
        </service>

        <!-- Firebase Analytics and Crashlytics options -->
        <meta-data
            android:name="google_analytics_default_allow_analytics_storage"
            android:value="true" />

        <meta-data
            android:name="google_analytics_default_allow_ad_storage"
            android:value="false" />

        <meta-data
            android:name="google_analytics_default_allow_ad_user_data"
            android:value="false" />

        <meta-data
            android:name="google_analytics_default_allow_ad_personalization_signals"
            android:value="false" />

        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="${analyticsCollectionEnabled}" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${crashlyticsCollectionEnabled}" />

        <meta-data
            android:name="firebase_performance_collection_enabled"
            android:value="${performanceCollectionEnabled}" />

        <meta-data
            android:name="google_analytics_automatic_screen_reporting_enabled"
            android:value="false" />
    </application>
</manifest>
