<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neilturner.aerialviews">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <queries>
        <intent>
            <action android:name="android.settings.DREAM_SETTINGS" />
        </intent>
        <intent>
            <action android:name="android.settings.SETTINGS" />
        </intent>
    </queries>

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:installLocation="auto"
        android:label="@string/daydream_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.neilturner.aerialviews.ui.settings.SettingsActivity"
            android:banner="@drawable/ic_banner"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/SettingsTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.neilturner.aerialviews.ui.screensaver.TestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <service
            android:name="com.neilturner.aerialviews.ui.screensaver.DreamActivity"
            android:exported="true"
            android:label="@string/daydream_name"
            android:permission="android.permission.BIND_DREAM_SERVICE">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.service.dream"
                android:resource="@xml/aerial_dream" />

            <meta-data
                android:name="firebase_crashlytics_collection_enabled"
                android:value="${crashlyticsCollectionEnabled}" />
        </service>

    </application>
</manifest>
