<?xml version="1.0" encoding="utf-8"?>
<manifest
	package="com.codingbuffalo.aerialdream"
	xmlns:android="http://schemas.android.com/apk/res/android">
	
	<uses-permission android:name="android.permission.INTERNET"/>
	
	<uses-feature
		android:name="android.hardware.touchscreen"
		android:required="false"/>
	
	<uses-feature
		android:name="android.software.leanback"
		android:required="false"/>
	
	<application
		android:allowBackup="true"
		android:fullBackupContent="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/daydream_name"
		android:supportsRtl="true"
		android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
		
		<!--<activity-->
			<!--android:name=".TestActivity"-->
			<!--android:configChanges="orientation|keyboardHidden|screenSize">-->
			<!--<intent-filter>-->
				<!--<action android:name="android.intent.action.MAIN"/>-->
				<!--<category android:name="android.intent.category.LAUNCHER"/>-->
			<!--</intent-filter>-->
		<!--</activity>-->
		
		<activity android:name=".SettingsActivity"/>
		
		<service
			android:name=".AerialDream"
			android:exported="true"
			android:label="@string/daydream_name"
			android:permission="android.permission.BIND_DREAM_SERVICE">
			<intent-filter>
				<action android:name="android.service.dreams.DreamService"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
			
			<!--<meta-data-->
				<!--android:name="android.service.dream"-->
				<!--android:resource="@xml/aerial_dream"/>-->
		</service>
	
	</application>

</manifest>
